@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --orange: #ff9c2c;
  --white: #fff;
  --blue: #4590b1;
  --dark_orange: #bf6f13;
  --grey: #333;
  --green: #18b60d;
  --light_grey: rgb(144, 143, 143);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* MAIN */

#Auth_OTP {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: all 0.5s ease;
}

#Auth_OTP.active {
  width: calc(100% - 80px);
  left: 80px;
}

/* FOMRS */
#Auth_OTP .Home {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  height: 100%;
  width: calc(100% - 50px);
  left: 30px;
  right: 20px;
}

#Auth_OTP .text-box {
  position: relative;
  min-height: 600px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

/* #Auth_OTP .Home .text-box .signin-signup {
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 600px;
} */

#Auth_OTP form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

#Auth_OTP .sign-in-form {
  min-height: 600px;
}

#Auth_OTP .sign-in-form i {
  text-align: center;
  line-height: 60px;
  color: #ff9c2c;
  font-size: 60px;
}

#Auth_OTP .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

#Auth_OTP .input-field {
  max-width: 350px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  margin-left: 30px;
  border-radius: 55px;
  display: flex;
  flex-direction: row;
  padding: 0 0.4rem;
  position: relative;
}
#Auth_OTP .Input_Refresh {
  max-width: 500px;
  width: 100%;
  height: 55px;
  margin: 10px 0;
  border-radius: 55px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 0.4rem;
}
#Auth_OTP #Resend {
  width: 55px;
  height: 55px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin: 10px 0;
  margin-left: 20px;
  transition: all 0.5s;
}
#Auth_OTP #Resend .fa-solid {
  margin-bottom: 3px;
  font-size: 28px;
}
#Auth_OTP .input-field i {
  text-align: center;
  line-height: 55px;
  padding-left: 9px;
  padding-right: 9px;
  color: #ff9c2c;
  font-size: 1.58rem;
}

#Auth_OTP .input-field input {
  background: none;
  outline: none;
  border: none;
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

#Auth_OTP .input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 500;
}

#Auth_OTP .btn {
  width: 150px;
  height: 49px;
  top: 40%;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #4590b1;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  flex-direction: row;
  margin: 10px 0;
  margin-top: 15px;
  transition: all 0.5s;
}
#Auth_OTP .timer {
  width: 500px;
  height: 30px;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 25px;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
}
#Auth_OTP .timer span {
  min-width: 100px;
  height: 30px;
  background-color: #444;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-left: 30px;
  padding-top: 3px;
  padding-right: 30px;
  border-radius: 50px;
}
#Auth_OTP .timer p {
  margin-left: 50px;
  margin-right: 20px;
  font-size: 16px;
}
#Auth_OTP .btn:hover {
  background-color: #138808;
}

/* RESPONSIVENESS */

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0px;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
}

@media (max-width: 600px) {
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle i {
    z-index: 10001;
  }

  .main.active .toggle i {
    position: fixed;
    right: 0;
    left: initial;
    color: var(--white);
  }
}

#Auth_OTP .mobile {
  color: #000;
  /* background-color: #ffffff; */
  border-radius: 20px;
  height: 90px;
  /* width: 400px; */
}
#Auth_OTP .mobile input {
  background-color: transparent;
  width: 130px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#Auth_OTP .btn:hover {
  background-color: #138808;
}

#Auth_OTP .signin-signup {
  position: relative;
  height: 40%;
  width: 45%;
  top: 50%;
  left: 25%;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(202, 202, 202, 0.534);
  transform: translate(-50% -50%);
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
