@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --orange: #ff9c2c;
    --white: #fff;
    --blue: #4590b1;
    --dark_orange: #bf6f13;
    --grey: #333;
    --green: #18b60d;
    --light_grey: rgb(144, 143, 143);
}

body{
    min-height: 100vh;
    overflow-x: hidden;

}


/* MAIN */

#Auth{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: all 0.5s ease;
}

#Auth.active{
    width: calc(100% - 80px);
    left: 80px;
}


  /* FOMRS */
#Auth .Home{
  position: relative;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  height: 100%;
  width: calc(100% - 50px);
  left: 30px;
  right: 20px;
}

#Auth .Home .text-box{
  position: relative;
  min-height: 600px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

#Auth .Home .text-box .signin-signup{
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

#Auth form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

#Auth .sign-in-form{
  min-height: 600px;
}

#Auth .sign-in-form i{
  text-align: center;
  line-height: 60px;
  color: #ff9c2c;
  font-size: 60px;
} 


#Auth .title{
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

#Auth .input-field {
  max-width: 400px;
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 60px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

#Auth .input-field i{
  text-align: center;
  line-height: 60px;
  color: #ff9c2c;
  font-size: 2rem;
}

#Auth .input-field input{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.26rem;
}

#Auth .input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 500;
}

#Auth .btn {
  width: 150px;
  height: 49px;
  top: 40%;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #4590b1;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  display: inline-block;
  flex-direction: row;
  margin: 10px 0;
  margin-top: 15px;
  transition: all 0.5s;
  cursor: pointer;
}

#Auth .btn:hover{
  background-color: #138808;
}


/* RESPONSIVENESS */

@media (max-width: 991px){
  .navigation{
      left: -300px;
  }
  .navigation.active{
      left: 0px;
      width: 300px;
  }
  .main{
      width: 100%;
      left: 0;
  }
  .main.active{
      left: 300px;
  }

}

  @media (max-width: 600px){
    
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle i{
        z-index: 10001;
    }

    .main.active .toggle i{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }

  }

#Auth .captcha-box {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

}

#Auth canvas {
  width: 200px;
  height: 70px;
  letter-spacing: 3px;
  border-radius: 10px;
  background-color: rgba(174, 188, 199, 0.808);
}

#refresh {
  width: 100px;
  margin-left: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.alert {

  position: absolute;
  padding: 20px;
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
  text-align: center;
  background-color: #f44336;
  color: white;
  transition: opacity 0.6s;

  transform: translate(71%, 5%);
  border-radius: 10px;
  scale: 1;
  visibility: hidden;
  transition: transform 0.4s;
  z-index: 10000;

}

.open-Alert {
  visibility: visible;
  transform: translate(71%, 5%) scale(1);
}

.alert.success {
  background-color: #04AA6D;
}

.alert.info {
  background-color: #2196F3;
}

.alert.warning {
  background-color: #ff9800;
}

#Auth #Login {
  width: 150px;
  height: 49px;
  top: 40%;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #4590b1;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  flex-direction: row;
  margin: 10px 0;
  margin-top: 15px;
  transition: all 0.5s;
}

#Auth .btn:hover {
  background-color: #138808;
}

#Auth .signin-signup {
  position: relative;
  height: 40%;
  width: 50%;
  top: 50%;
  left: 25%;
  border-radius: 25px;
  background-color: rgba(233, 233, 233, 0.393);
  transform: translate(-50% -50%);
  display: grid;
  grid-template-columns: 1fr;

}