.sideBar {
  flex: 1;
  min-height: 100vh;
  background-color: rgb(244, 242, 239);
  .top {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: center;
    .logo {
      align-items: center;
      padding: 8px 0px 8px 8px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
      }
    }
    .title {
      padding: auto;
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
      color: #ff9c2c;
    }
    hr {
      height: 0;
      border: 0.5px solid #7c7c7c;
    }
  }
  .center {
    padding-left: 5px;
    top: 180px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: flex;
        align-items: center;
        width: 220px;
        height: 50px;
        margin: 5px 5px;
        border-radius: 7px;
        padding: 5px;
        cursor: pointer;

        span {
          font-size: 14px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
        &:hover {
          color: white;
          background-color: #ff9c2c;
          span {
            color: white;
          }
        }

        .icon {
          margin-left: 20px;
          font-size: 20px;
        }
      }
    }
  }
}
